<div class="container overlay-color">
    <div class="row mt-0">
        <div class="col-12 text-center my-0">
            <div class="jumbotron my-0 pt-3 overlay-white">

                <h1 class="display-3 band-name">Band Directory by Genre</h1>

                <div class="col-10 col-sm-12 mx-auto my-4">
                    <table class="table table-striped text-center">
                        <tbody>
                            <thead>
                                <tr>
                                    <th scope="col">
                                        <h4 class="display-4">ELECTRONIC</h4>
                                    </th>
                                </tr>
                            </thead>
                            <tr>
                                {{#each electronicBands}}
                                <td style="font-size: large; font-weight:bold;"><a href="/bands/{{this.bandName}}"
                                        class="text-success">{{this.bandName}}</a></td>
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>

                <div class="col-10 col-sm-12 mx-auto mt-5">
                    <table class="table table-striped text-center">
                        <tbody>
                            <thead>
                                <tr>
                                    <th scope="col">
                                        <h4 class="display-4">HIP-HOP/R&B</h4>
                                    </th>
                                </tr>
                            </thead>
                            <tr>
                                {{#each hipHopBands}}
                                <td style="font-size: large; font-weight:bold;"><a href="/bands/{{this.bandName}}"
                                        class="text-success">{{this.bandName}}</a></td>
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>

                <div class="col-10 col-sm-12 mx-auto my-5">
                    <table class="table table-striped text-center">
                        <tbody>
                            <thead>
                                <tr>
                                    <th scope="col">
                                        <h4 class="display-4">JAZZ</h4>
                                    </th>
                                </tr>
                            </thead>
                            <tr>
                                {{#each jazzBands}}
                                <td style="font-size: large; font-weight:bold;"><a href="/bands/{{this.bandName}}"
                                        class="text-success">{{this.bandName}}</a></td>
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>

                <div class="col-10 col-sm-12 mx-auto my-5">
                    <table class="table table-striped text-center">
                        <tbody>
                            <thead>
                                <tr>
                                    <th scope="col">
                                        <h4 class="display-4">POP</h4>
                                    </th>
                                </tr>
                            </thead>
                            <tr>
                                {{#each popBands}}
                                <td style="font-size: large; font-weight:bold;"><a href="/bands/{{this.bandName}}"
                                        class="text-success">{{this.bandName}}</a></td>
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>

                <div class="col-10 col-sm-12 mx-auto my-5">
                    <table class="table table-striped text-center">
                        <tbody>
                            <thead>
                                <tr>
                                    <th scope="col">
                                        <h4 class="display-4">ROCK</h4>
                                    </th>
                                </tr>
                            </thead>
                            <tr>
                                {{#each rockBands}}
                                <td style="font-size: large; font-weight:bold;"><a href="/bands/{{this.bandName}}"
                                        class="text-success">{{this.bandName}}</a></td>
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>


            </div>
        </div>
    </div>

</div>