<div class="container  overlay-color">
    <div class="row">
      <div class="col-12 text-center">
        <div class="jumbotron my-0 overlay-white">
              <h1 class="display-2 band-name">{{bandName}}</h1>
              <hr>
              <img src="{{bandPhotoURL}}" width="600" class="img-fluid border border-secondary">
              <hr>
              <p class="text-justify"><strong>Hometown:</strong> {{bandHometown}}</p>
              <p class="text-justify"><strong>Genre:</strong> {{bandGenre}}</p>
              <h3 class="display-4 text-left">Bio</h3>
              <p class="text-justify mt-3">{{bandBio}}</p>
              
              <p class="text-justify"><strong>Upcoming Tour Dates:</strong> {{bandHometown}}</p>
              <hr>
        </div>

          </div>
        </div>

      </div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>
