<div class="container  overlay-color">
  <div class="row">
    <div class="col-12 text-center">
      <div class="jumbotron my-0 overlay-white">
        <h1 class="display-2 band-name">{{bandName}}</h1>
        <hr>
        <img src="{{bandPhotoURL}}" width="600" class="img-fluid border border-secondary">
        <hr>
        <p class="text-justify"><strong>Hometown:</strong> {{bandHometown}}</p>
        <p class="text-justify"><strong>Genre:</strong> {{bandGenre}}</p>
        <h3 class="display-4 text-left">Bio</h3>
        <p class="text-justify mt-3">{{bandBio}}</p>

        <p class="text-justify"><button id="tour-dates-btn" type="button" class="btn btn-success"
            data-dismiss="modal">Upcoming Tour Dates</button></p>
        <hr>
      </div>

    </div>
  </div>

</div>

<!-- Modal for tour dates -->
<div id="tour-dates" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-scrollable" role="list">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title text-center">{{bandName}} Tour Dates</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        </button>
      </div>
      <div class="modal-body">
        <p>Tour dates would go here</p>
      </div>
      <div class="modal-footer text-right">
        <button type="button" class="btn btn-success" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
  <script src="/js/index.js"></script>