<div class="container overlay-color">
  <div class="row mt-0">
    <div class="col-12">
      <div class="jumbotron my-0 overlay-white pt-5">

        <div class="row mb-1 mt-0">
          <div class="col-12">
            <h1 class="display-4 band-name">UPDATE BAND INFO FOR: </h1>
                    <h1 class="display-2 band-name">{{bandName}}</h1>
            <hr>
          </div>
        </div>

        <div class="row">
          <div class="col-12 text-left">
            {{!-- <form class="clearfix my-3" action="POST"> --}}
            <form class="clearfix my-3">

              <!-- START GENRE SECTION -->
              <label class="input-group-text bg-success text-white col-3" for="bandGenre"><strong>GENRE</strong></label>
              <div class="input-group mb-5">
                <div class="input-group-prepend">

                </div>
                <select class="custom-select" id="bandGenre" value="{{bandGenre}}">
                  <option value="Electronic">Electronic</option>
                  <option value="HipHop/R&B">HipHop/R&B</option>
                  <option value="Jazz">Jazz</option>
                  <option value="Pop">Pop</option>
                  <option value="Rock">Rock</option>
                </select>
              </div>
              <!-- END GENRE SECTION -->

              <!-- START NAME SECTION -->
              <span class="input-group-text bg-success text-white col-3" id="bandNameLabel"><strong>NAME</strong></span>
              <div class="input-group mb-5">
                <div class="input-group-prepend">

                </div>
                <input type="text" class="form-control" value="{{bandName}}" id="bandName" required>
              </div>
              <!-- END NAME SECTION -->

              <!-- START PHOTOURL SECTION -->
              <span class="input-group-text bg-success text-white col-3" id="bandPhotoLabel"><strong>PHOTO
                  URL</strong></span>
              <div class="input-group mb-5">
                <div class="input-group-prepend">

                </div>
                <input type="text" class="form-control" value="{{bandPhotoURL}}" id="bandPhotoURL">
              </div>
              <!-- END PHOTOURL SECTION -->

              <!-- START HOMETOWN SECTION -->
              <span class="input-group-text bg-success text-white col-3"
                id="bandHometownLabel"><strong>HOMETOWN</strong></span>
              <div class="input-group mb-5">
                <div class="input-group-prepend">

                </div>
                <input type="text" class="form-control" value="{{bandHometown}}" id="bandHometown">
              </div>
              <!-- END HOMETOWN SECTION -->

              <!-- END BIO SECTION -->
              <span class="input-group-text bg-success text-white col-3" id="bandBioLabel"><strong>SHORT
                  BIO</strong></span>
              <div class="input-group mb-5">
                <div class="input-group-prepend">

                </div>
                <textarea class="form-control" value="{{bandBio}}" id="bandBio" > {{bandBio}} </textarea>
              </div>

              <!-- END BIO SECTION -->

              <!-- START DISCOGRAPHY SECTION -->
              <span class="input-group-text bg-success text-white col-3"
                id="bandDiscogLabel"><strong>DISCOGRAPHY</strong></span>
              {{#each albums}}
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text">Album Title</span>
                </div>
                <input type="text" class="form-control" value="{{this.discTitle}}" id="discTitle{{this.discId}}">

                <div class="input-group-prepend">
                  <span class="input-group-text">Album Year</span>
                </div>
                <input type="text" class="form-control" value="{{this.discYear}}" id="discYear{{this.discId}}">

                <div class="input-group-prepend">
                  <span class="input-group-text">Album Tracks</span>
                </div>
                <input type="text" class="form-control" value="{{this.discTracks}}" id="discTracks{{this.discId}}">
              </div>
              {{/each}}
              <!-- END DISCOGRAPHY SECTION -->

              <!-- START TOURS SECTION -->
              <div id="tours-section" class="mb-5">
              <span class="input-group-text bg-success text-white col-3 mt-5"
                id="bandDiscogLabel"><strong>TOUR DATES</strong></span>
              {{#each tours}}
              <div class="input-group mb-1">
                <div class="input-group-prepend">
                  <span class="input-group-text">Venue Name</span>
                </div>
                <input type="text" class="form-control" value="{{this.tourVenue}}" id="tourVenue{{this.tourId}}">

                <div class="input-group-prepend">
                  <span class="input-group-text">Venue City</span>
                </div>
                <input type="text" class="form-control" value="{{this.tourCity}}" id="tourCity{{this.tourId}}">
                
                <div class="input-group-prepend">
                  <span class="input-group-text">Venue State</span>
                </div>
                <input type="text" class="form-control" value="{{this.tourState}}" id="tourState{{this.tourId}}">
                </div>

              <div class="input-group mb-5">
                <div class="input-group-prepend">
                  <span class="input-group-text">Venue Date</span>
                </div>
                <input type="text" class="form-control" value="{{this.tourDate}}" id="tourDate{{this.tourId}}">

                <div class="input-group-prepend">
                  <span class="input-group-text">Venue Time</span>
                </div>
                <input type="text" class="form-control" value="{{this.tourTime}}" id="tourTime{{this.tourId}}">              
              </div>
              {{/each}}
              </div>
              <!-- END TOURS SECTION -->

              <button id="submitNewband" class="btn btn-success float-left">Update</button>
              <button id="deleteBand" class="btn btn-danger float-right">Delete</button>
            </form>

            {{!-- <p>
                Don't have a login? <a href="/bandregister" class="text-success"><strong>Sign up</strong></a> to get
                started.
              </p> --}}
          </div>
        </div>
      </div>
      {{!-- <form class="clearfix my-5" action="POST">
          <div class="form-group">
            <label for="example-text">Example Text</label>
            <input type="text" id="example-text" class="form-control" aria-describedby="example-text" placeholder="Enter Example Text">
          </div>
          <div class="form-group">
            <label for="example-description">Example Description</label>
            <textarea class="form-control" id="example-description" aria-describedby="example-description" placeholder="Enter Example Description"></textarea>
          </div>
          <button id="submit" class="btn btn-primary float-right">Submit</button>
        </form>
        <h3>Examples:</h3>
        <ul id="example-list" class="list-group mb-4">
          {{#each examples}}
          <li data-id="{{this.id}}" class="list-group-item">
            <a href="example/{{this.id}}">{{this.text}}</a>
            <button class="btn btn-danger float-right delete">ｘ</button>
          </li>
          {{/each}}
        </ul> --}}
    </div>
  </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>
<script src="/js/updateBand.js"></script>